.big{
	height:900px;
	width:1600px;
	border:1px solid white;
	position:absolute;
	left:350px;
	top:181px;
	background-image:url(../img/32306D4DE47193753A59AEFE86A232C7.jpg);
	background-size:1600px;
}
.zjy{
	height:30px;
	width:1419px;
	border:1px solid black;
	position:absolute;
	left:531px;
	top:10px;
	background:black;
}
.first{
	color:#FFFFFF;
	font-family:微软雅黑;
	font-size:16px;
}
.second{
	color:gainsboro;
	font-family:elephant;
	font-size:12px;
}
.title{
	height:180px;
	width:180px;
	border:1px solid black;
	position:absolute;
	left:350px;
}
.title img{
	height:180px;
	width:180px;
}
.extra{
	height:139px;
	width:1419px;
	border:1px solid black;
	position:absolute;
	left:531px;
	top:41px;
	font-size:24px;
	
}
.extra img{
	height:139px;
	float:right;
}
.right{
	height:900px;
	width:70px;
	border:1px solid black;
	position:absolute;
	left:1530px;
	background:rgba(255,255,255,0.8);
}
#banner1{
	height:70px;
	width:70px;
	border:1px solid black;
	position:absolute;
	left:1530px;
	top:5px;
	overflow:hidden;
}
#im{
	position:absolute;
	top:0px;
	left:-180px;
}
#banner1 img{
	float:right;
}
#banner1:hover{
	overflow:unset;
}
#banner2{
	height:70px;
	width:70px;
	border:1px solid black;
	position:absolute;
	left:1530px;
	top:125px;
	overflow:hidden;
}
#banner2 img{
	float:right;
}
#banner2:hover{
	overflow:unset;
}
#banner3{
	height:70px;
	width:70px;
	border:1px solid black;
	position:absolute;
	left:1530px;
	top:245px;
	overflow:hidden;
}
#banner3 img{
	float:right;
}
#banner3:hover{
	overflow:unset;
}
#banner4{
	height:70px;
}
.logo{
	height:150px;
	width:250px;
	position:absolute;
	left:50px;
}
.logo img{
	height:150px;
	width:250px;
}
.enter{
	height:60px;
	width:160px;
	border:1px solid black;
	position:absolute;
	left:1250px;
	top:760px;
	padding-left: 45px;
	padding-top:30px;
	font-size:24px;
	background:#F3C258;
	font-family:微软雅黑;
}
.acitivity{
	height:150px;
	width:480px;
	border:1px solid black;
	position:absolute;
	left:40px;
	top:510px;
	background:rgba(105,105,105,0.7);
}
.acitivity>ul{
	height:40px;
	width:480px;
	border:1px solid black;
	text-align:center;
	font-size:24px;
	color:#18052b;
	display: flex;
}
.acitivity>ul>li{
	flex:1;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
	border: solid 1px black;
}
.acitivity>ul>li.active{
	color: #f3c258;
}
.acitivity>ol{
	flex:1;
	position: relative;
}
.underactivity{
	height:108px;
	width:479px;
	border:1px solid black;
}
.acitivity > ol > li {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
.acitivity>ol>li.active{
	display: flex
}
.enter:hover{
            background-color: rgb(104, 104, 104);
            color: #f3c258;
        }
.lpic{
		height:900px;
		width:300px;
		position:absolute;
		left:50px;
		top:206px;
}
.lpic img{
		height:700px;
		float:right;
}
.rpic{
		height:900px;
		width:300px;
		position:absolute;
		left:1763px;
		top:506px;
}
.rpic img{
		width:700px;
		float:left;
}
.last{
	height:300px;
	width:1602px;
	background:url(../img/星空背景.jpg);
	color:#f3c258;
	text-align:center;
	font-size:16px;
	font-family:微软雅黑;
	font-style:italic;
	position:absolute;
	left:350px;
	top:1084px;
}
.back{
	height:60px;
	width:310px;
	position:absolute;
	top:20px;
}
.back img{
	height:60px;
}
.audio{
	height:100px;
	width:500px;
	position:absolute;
	left:0px;
	top:1484px;
}